body {
    background-color: white;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: beige;
    color: green;
    display: flex;
    justify-content: space-between;
}

.container h1 {
    font-size: 64px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a {
    margin-left: 16px;
    color: maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
.row .container{
   display: flex;
   flex-direction: row;
}
#column1{
    width: 35%;
    height: 100vh;
}
section{ 
    padding: 20px;
    font-size: 20px;
    line-height: 32px;

}
#column2{
    width: 35%;
    height: 100vh;
}
.projects{
margin-left: 60%;
}



