
body{
    background-color:white;
}


.container {
    max-width:1140px;
    margin:0 auto;
    }

    .container > header {
        padding: 20px;
        background-color: beige;
        color: green

    }